.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
}
@media (max-width: 500px){
    .navbar-list{
        display: flex;
        flex-direction: column;
    }
}
.homeLink {
    color: black;
    text-decoration: none;
}
.portfolioLink {
    color: black;
    text-decoration: none;
}
.aboutLink {
    color: black;
    text-decoration: none;
}
.contactLink {
    color: black;
    text-decoration: none;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
#logo {
    height: 12vh;
    width: 12vh;
}
.helloHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url(./lighter\ honeycomb\ .jpg);
    background-size: 300px 500px; */
    height: 50vh;
    background-color:#e2e9e2;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
@media (max-width: 500px){
    .helloHeader{
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
    }
}
.headshot {
    height: 40vh;
    border-radius: 50%;
}
.bioHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
}
.miniBio {
    width: 40vw;
    font-size: 3vh;
    /* margin-left: 8%; */
}
@media (max-width: 500px){
    .bioHeader {
        display: flex;
        width: 50vw;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 500px){
    .miniBio {
        display: flex;
        width: 50vw;
        align-items: center;
        text-align: center;
    }
}
.bioHeader2 {
    text-align: center;
}
@media (max-width: 500px){
    .bioHeader2 {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.helloHeader2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url(./lighter\ honeycomb\ .jpg);
    background-size: 300px 500px; */
    height: 50vh;
    background-color:#e2e9e2;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
@media (max-width: 500px){
    .helloHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.miniBio2 {
    text-align: center;
    width: 70vw;
    display: flex;
    justify-content: center;
}
.softSkills {
    text-align: center;
    padding-top: 5vh;
    font-size: 3vh;
}
.softSkillBlocks {
    display: flex;
    height: 30vh;
    justify-content: space-around;
    margin-right: 4%;
    align-items: center;
}
.softSkillBlocks :hover{
    transform: scale(1.1);
}
@media (max-width: 500px){
    .softSkills{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}
@media (max-width: 500px){
    .softSkillBlocks {
        display: flex;
        flex-direction: column;
        margin-top: 43vh;
        justify-content: center;
        align-items: space-evenly;
    }
}
@media (max-width: 500px){
    .skillsSection {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        //margin-bottom: 80vh;
        justify-content: center;
    }
}
.communicationBlock {
    width: 29vh;
    height: 29vh;
}
@media (max-width: 500px){
    .communicationBlock{
        margin-top: 15vh;
        margin-bottom: 3vh;
    }
}
.teamworkBlock {
    width: 29vh;
    height: 29vh;
}
@media (max-width: 500px){
    .teamworkBlock{
        margin-bottom: 3vh;
    }
}
.psBlock {
    width: 29vh;
    height: 29vh;
}
@media (max-width: 500px){
    .psBlock{
        margin-bottom: 3vh;
    }
}
.selfmotivBlock {
    width: 29vh;
    height: 29vh;
}
@media (max-width: 500px){
    .selfmotivBlock{
        margin-bottom: 8vh;
    }
}
.skillsSection {
    /* display: flex;
    justify-content: center; */
    padding-top: 7vh;
    font-size: 3vh;
    text-align: center;
}
.skillBlocks :hover{
    transform: scale(1.1);
}
.skillBlocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 7vh;
    height: 30vh;
}
@media (max-width: 500px){
    .skillsSection{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .skillBlocks{
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
}
.htmllogo {
    height: 29vh;
}
@media (max-width: 500px){
    .htmllogo{
        margin-bottom: 3vh;
    }
}

.csslogo {
    height: 29vh;
}
@media (max-width: 500px){
    .csslogo{
        margin-bottom: 3vh;
    }
}
.jslogo {
    height: 29vh;
}
footer{
    display: flex;
    justify-content: center;
}
.fullBio {
    font-size: 3vh;
    text-align: center;
    width: 65%;
    padding-top: 5vh;
    padding-bottom: 3vh;
}
.aboutBioSection {
    display: flex;
    justify-content: center;
}
 /* @media (max-width:500px){
    .allContactBody{
        display: flex;
        flex-direction: column;
    }
} */
@media (max-width:500px){
    .contactBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 
.container {
    margin: 6%;
    border-radius: 1%;
    background-color: #8fa382;
    padding: 3%;
    width: 30vw;
}
.container2{
    margin: 6%;
    border-radius: 1%;
    background-color: #8fa382;
    padding: 3%;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    
}
@media (max-width: 500px){
    .container2{
        width: 50%;
    }
}
@media (max-width: 500px){
    .container {
        width: 50vw;
    }
}
#flname {
    padding: 1vh;
    width: 15vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
#email {
    padding: 1vh;
    width: 25vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
#message {
    padding-top: 1.5vh;
    width: 30vw;
    height: 30vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 500px) {
    #message {
        width: 45vw;
    }
}
.sendButton {
    background-color: #e2e9e2;
    color: black;
    border-radius: 4px;
    width: 8vw;
    height: 4vh;
    margin-top: 1vh;
}
.contactBody{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6vh;
    margin-top: 6vh;
}
#linkedInLogo {
    height: 13vh;
    width: 18vw;
}
#gmailLogo {
    height: 13vh;
    width: 18vw;
}
#codepenLogo {
    height: 15vh;
    width: 20vw;
}
#calendlyLogo {
    height: 12vh;
    width: 20vw;
}
.socialImages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 3vh;
    color: darkgreen;
    margin-top: 5vh;
}
.projects a {
    color:darkgreen;
    text-decoration: none;
    text-align: center;
}
.projects a:hover {
    color: #a6c18a
}
#IHlogo {
    height: 6vh;
    width: 4vw;
    padding-right: 1%;
}
.divWebClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#partypopper {
    height: 5.5vh;
    width: 3.5vw;
    padding-left: 1%;

}
#webclass {
    text-align: center;
    margin-top: 5vh;
}
#classmates {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    text-decoration: none;
}
#classmates a:hover {
    color: darkgreen;
}
@media (max-width: 500px){
    #classmates{
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }
} 
@media (max-width: 700px){
    #classmates{
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }
} 
 #classmates a { 
    color: black;
    text-decoration: none;
    text-align: center;
}
.digitalMarketing {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkgreen;
} 
.experienceDM {
    margin-bottom: auto;
    font-size: 2.5vh;
    font-weight: 600;
}
.myAccounts {
    margin-top: auto;
    font-weight: 350;
    color: black;
    margin-bottom: auto;
    color: darkgreen;
}
#myAccountsList {
    margin-top: auto;
    font-weight: 300;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    color: black;}
#myAccountsList a {
    color: darkgreen;
    text-decoration: none;
}
#myAccountsList a :hover{
    color: #a6c18a;
}
.btn {
    color: darkgreen;
    background-color: #e2e9e2;
    width: 30vw;
    height: 6vh;
    border-radius: 5px;
}
.emojiBtn{
    color: darkgreen;
    background-color: #e2e9e2;
    width: 30vw;
    height: 6vh;
    border-radius: 5px;
}
.funBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}